<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- En bloque -->
    <h1>Título</h1>
    <p>Hola</p>

    <!-- En línea -->
    <span class="saludo" id="saludoInicial">Hola</span>
    <img src="../assets/img/1ss.jpg" alt="">

    <a href="https://www.youtube.com/"></a>
    <a href="../index.html">Index</a>

    <!-- Listas ordenadas -->
    <ol>
       <li>Primero</li>
       <li>Segundo</li>
       <li>Tercero</li>
       <li>Cuarto</li>
    </ol>

    <!-- Listas no ordenadas-->
    <ul>
        <li>Primero</li>
        <li>Segundo</li>
        <li>Tercero</li>
        <li>Cuarto</li> 
    </ul>

    <!-- Css en el documento -->
    <style>
        body{
          background-color: aquamarine;  
        }
    </style>

    <div>

    </div>

    <!-- Enlazar archivo CSS-->
    <link rel="stylesheet" href="assets/css/styles.css">

    <!-- JavaScript en el documento-->
   <!--<script>
        alert("Hola mundo!")
    </script>--> 

    <!-- Enlaza archivo JS-->
    <script src="assets/js/main.js"></script>

</body>
</html>