
*{
    background-color: rgb(26, 146, 72);
}

.estilo1{
    font-style: italic;
    font-family: cursive;
    font-size: 10px;
    color: white;
}

.estilo2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold ;
    font-size: 15px;
    color: rgb(239, 239, 173);
}

.estilo3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold ;
    font-size: 18px;
    color: goldenrod;
}

.estilo4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    color: rgb(225, 46, 91);
}